{{define "body"}}

<!-- Forms -->
<div class="card-body bg-light text-dark">
    <form class="form-horizontal" action="/savenewcourse" method="POST">
        <fieldset>
          <legend>Add New Course</legend>
          <div class="form-group">
            <label for="coursename" class="control-label">Course Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="coursename" name="coursename" placeholder="Bachelor of Science Information Technology">
            </div>
          </div>
          <div>
            <h5>Enter at least 1 unit</h5>
          </div>
          <div class="form-group">
            <label for="unitname" class="control-label">Unit Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="unitname" name="unitname" placeholder="Network Security">
            </div>
          </div>
          <div class="form-group">
            <label for="unitcode" class="control-label">Unit Code</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="unitcode" name="unitcode" placeholder="BIT 104">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">

                <button class="btn btn-primary d-none col-3">
                  <a href="/dashboard/courses" class="text-decoration-none" id="discardChanges">Discard Changes and go Back</a>
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
                
            </div>
          </div>
        </fieldset>
    </form>
</div>

{{end}}
