{{define "body"}}

<!-- Forms -->
<div class="card-body">
    <form class="form-horizontal" action="/savenewcourse" method="POST">
        <fieldset>
          <legend>Add New Unit</legend>
          <div class="form-group">
            <label for="coursename" class="control-label">Course Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="coursename" name="coursename" placeholder="Bachelor of Science Information Technology">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <div class="row ml-auto">
                    <a href="/dashboard/courses" class="text-decoration-none;">
                        <input type="button" class="btn btn-primary d-none col-3" id="discardChanges" value="Discard Changes and go Back" />
                    </a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
    </form>
</div>

{{end}}
