{{define "body"}}

<!-- Forms -->
<div class="card-body bg-light text-dark">
    <form class="form-horizontal" action="/savenewunit/{{.CourseID}}" method="POST">
        <fieldset>
          <legend>Add New Unit</legend>
          <div class="form-group">
            <label for="unitcode" class="control-label">Unit Code</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="unitcode" name="unitcode" placeholder="BUSS 301">
            </div>
          </div>
          <div class="form-group">
            <label for="nameofunit" class="control-label">Name of Unit</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="nameofunit" name="nameofunit" placeholder="Network Security">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-danger">
                <a href="/dashboard/courses/{{.CourseID}}"  class="text-decoration-none">
                  <span>&plus;&nbsp;Discard Changes and go Back</span>
                </a>
              </button>
                
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
    </form>
</div>

{{end}}
