{{ define "body"}}


<h2 class="text-center">{{ .CourseName }}</h2>
<table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>#</th>
        <th>Unit Code</th>
        <th>Number of Units</th>
      </tr>
    </thead>
    <tbody>
        {{range $key,$value := .Units }}
      <tr>
        <td>&nbsp;</td>
        <td>{{$value.UnitCode}}</td>
        <td>{{$value.UnitName}}</td>
      </tr>
      {{end}}
      
    </tbody>
</table>

<div class="row ml-auto"> 
    <a href="/dashboard/courses/{{$value.CourseID}}/addUnit" class="text-decoration-none;">
        <input type="button" class="btn btn-primary d-none col-3" id="addUnit" value="Add New Unit" />
    </a>
</div>

{{end}}