{{ define "body"}}

<h2>
  <span>
    <a href="/dashboard"  class="text-decoration-none text-dark">DashBoard</a>/
    <a href="/dashboard/courses"  class="text-decoration-none text-dark">Courses</a>/
    <a href="/dashboard/courses/{{.CourseID}}"  class="text-decoration-none text-dark">Units</a>
  </span>
</h2>

<button class="btn btn-danger btn-block border border-secondary rounded">
  <a href="/dashboard/courses/{{.CourseID}}/addUnit"  class="text-decoration-none">
    <h5>&plus;&nbsp;Add New Unit</h5>
  </a>
</button>

<h2 class="text-center">{{ .CourseName }}</h2>
<table class="table table-striped table-hover bg-light text-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>Unit Code</th>
        <th>Unit Name</th>
        <th>Lecturer</th>
      </tr>
    </thead>
    <tbody>
        {{range $key,$value := .Units }}
      <tr>
        <td>&nbsp;</td>
        <td>{{$value.UnitCode}}</td>
        <td>{{$value.UnitName}}</td>
        <td>{{$value.Lecturer}}</td>
      </tr>
      {{end}}
      
    </tbody>
</table>

{{end}}
