{{ define "body"}}

<div class="bg-light">
        <!-- current location-->
    <h2>
        <span>
            <a href="/dashboard"  class="text-decoration-none text-white">DashBoard</a>
        </span>
    </h2>

    <!-- move to courses -->
    <h5>
        <a href="/dashboard/courses"  class="text-decoration-none text-white">&rarrhk;&nbsp;Go to Courses</a>
    </h5>

    <!-- log out -->
    <h5>
        <a href="/adminLogout"  class="text-decoration-none text-white">&larrhk;&nbsp;Log Out as Admin</a>
    </h5>
</div>

<table class="table table-striped table-hover bg-light text-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>Unit Name</th>
        <th>Lecturer</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
        {{range $key,$value := . }}
      <tr>
        <td>&nbsp;</td>
        <td>{{$value.UnitName}}</td>
        <td>{{$value.Lecturer}}</td>
        <td>{{$value.Rating}}</td>
      </tr>
      {{end}}
      
    </tbody>
</table>

{{end}}