{{define "body"}}

{{ template "navigationbar" }}

<h1>Welcome to the Student Online Portal</h1>
<div>
    <p>The University seeks to improve the quality o teaching in all its teaching units.To reach this goal,
        the institution has come up with a questionnaire to obtain feedback from various students on various areas.The 
    questionnaire should filled honestly as we anticipated that the feedback on lecturers will be used to improve teaching
    ,student course selection, learning content and make appropriate management decision. <p class="text-danger">KINDLY NOTE: INFORMATION 
        PROVIDED WILL BE TREATED WITH UTMOST CONFIDENTIALITYAND WILL BE SOLELY USED FOR IMPROVING QUALITY TEACHING.
    </p>    
</p>
<p class="center">
    This is an Evaluation Exercise for 2021/2022 | TERM2
</p>
</div>

{{ template "yearofstudyform" }}


{{end}}
