{{ define "body" }}

<div class="container-fluid">
    <form class="form-horizontal" action="/answers" method="POST" >
        <fieldset>
            <!-- Course Unit Objectives -->
            <div>
                <!-- courseUnitObjective1 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective2 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective3 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Course Content and Methodology -->
            <div>
                <!-- courseUnitObjective1 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective2 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective3 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Course Material and Level of Preparation of Lecturer  -->
            <div>
                <!-- courseMaterial1 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective2 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective3 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Course Unit Evaluation -->
            <div>
                <!-- courseUnitObjective1 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective2 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective3 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Availability of the Lecturer -->
            <div>
                <!-- courseUnitObjective1 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective2 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective3 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Course Delivery -->
            <div>
                <!-- courseUnitObjective1 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective2 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
                <!-- courseUnitObjective3 -->
                <div class="form-group">
                    <label for="courseUnitObjective" class="col-lg-3 control-label">
                        <h4>1. Clarity of the Course Unit Objective</h4>
                    </label>
                    <div class="col-lg-10">
                        <div class="radio form-check form-check-inline">
                            <label>
                                <input type="radio" id="poor" name="courseUnitObjective" value="Poor">Poor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="fair" name="courseUnitObjective" value="Fair">Fair
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="good" name="courseUnitObjective" value="Good">Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="veryGood" name="courseUnitObjective" value="Very Good">Very Good
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="excellent" name="courseUnitObjective" value="Excellent">Excellent
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- submission -->
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success">Finish</button>
                </div>
            </div>
    
    
        </fieldset>
    </form>
</div>

{{end}}