{{ define "body" }}

<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Evaluation Submitted Successfully!</h3>
        </div>
        <div class="panel-body">
            <p>
                Thank you for taking part in the Evaluation. Your feedback will go a long way to improve the quality of teaching
                 in all its teaching units. PLEASE INVITE YOUR FELLOW STUDENTS TO SUBMIT THEIR EVALUATION.
            </p>
        </div>
    </div>
    
    <!-- submission -->
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <a href="/" class="btn btn-success">SUBMIT ANOTHER EVALUATION</a>
        </div>
    </div>
</div>

{{end}}