{{ define "body" }}

{{ template "navigationbar" }}

<h1>Welcome to the Student Online Portal</h1>
<div>
    <p>The University seeks to improve the quality o teaching in all its teaching units.To reach this goal,
        the institution has come up with a questionnaire to obtain feedback from various students on various areas.The 
    questionnaire should filled honestly as we anticipated that the feedback on lecturers will be used to improve teaching
    ,student course selection, learning content and make appropriate management decision. <p class="text-danger">KINDLY NOTE: INFORMATION 
        PROVIDED WILL BE TREATED WITH UTMOST CONFIDENTIALITYAND WILL BE SOLELY USED FOR IMPROVING QUALITY TEACHING.
    </p>    
</p>
<p class="center">
    This is an Evaluation Exercise for 2021/2022 | TERM2
</p>
</div>

<div>
    <form class="form-horizontal" action="/get-unit-and-lec/{{.ID}}" method="POST">
        <fieldset>
            <h4>STAGE 2 - Choose a Course Unit and the Lecturer For {{.Course.CourseName}}</h4>
            <div>
                
                <!-- Select Unit -->
                <div class="form-group">
                    <label for="unitOfStudy" class="control-label">Unit Of Study</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="unitOfStudy" name="unitOfStudy">
                            {{range $key,$value := .Course.Units }}
                            <option>{{$value.UnitName}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
        
                <!-- Select Lecturer of the Unit Above -->
                <div class="form-group">
                    <label for="lecturer" class="control-label">Lecturer</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="lecturer" name="lecturer">
                            {{range $key,$value := .Course.Units }}
                            <option>{{$value.Lecturer}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
        
                <!-- next buttons -->
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{{end}}